.navigation-search-input {
  max-width: 300px;
  padding: 1rem 2rem;
  background-color: #FFFFFF;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.6rem;
  color: black;
  letter-spacing: .1rem;
  outline: none;
  border: .1rem solid #555;
  border-radius: 10rem;
  transition: background-color .3s;
}

.navigation-search-input:focus {
  background-color: #cce7e8;
}
.search-btn{
  margin: 20px;
}
.container{
  margin-top: 10px;
}
select{
  max-width: 200px; 
  margin: 0 auto;
  margin-top: 5px;
}
.balance{
  padding: 20px;
}